@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Oswald&family=Roboto&display=swap');

* {
    height: 100%;
    margin: 0;
    font-family: 'Delicious Handrawn', cursive;
}

body {
    display: grid;
    grid-template-rows: 1fr 5fr 0.4fr;
}

header,
footer,
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    font-size: 64px;
}

.main-container {
    justify-content: space-evenly;
}

.player-stats {
    font-size: 32px;
    margin-top: 3rem;
}

.game-board {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: fit-content;
    margin-bottom: 8rem;
}

.tile {
    display: flex;
    justify-content: center;
    outline: none;
    width: 7.5rem;
    height: 7.5rem;
    border-bottom: none;
    border-left: none;
    font-size: 500%;
    color: rgb(56, 56, 56);
}

footer {
    font-family: 'Delicious Handrawn', cursive;
    font-size: 20px;
}