@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Oswald&family=Roboto&display=swap');

* {
    height: 100%;
    margin: 0;
}

body {
    display: grid;
    grid-template-rows: 1fr 5fr 0.4fr;
}

header {
    font-family: 'Delicious Handrawn', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
}

footer {
    font-family: 'Delicious Handrawn', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}